# {{ ansible_managed }}

{% for section, attributes in percona_server_user_root_cnf.items() %}

[{{ section }}]
{% for name, value in attributes.items() %}
{% if value %}
{{ name }} = {{ value }}
{% else %}
{{ name }}
{% endif %}
{% endfor %}
{% endfor %}
