# {{ ansible_managed }}

{% for section in percona_server_etc_my_cnf %}

[{{ section }}]
{% for name, value in item.items() %}
{% if value %}
{{ name }} = {{ value }}
{% else %}
{{ name }}
{% endif %}
{% endfor %}
{% endfor %}

{% if percona_server_etc_my_cnf_includedir is defined %}
!includedir {{ percona_server_etc_my_cnf_includedir }}
{% endif %}
